<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pjkh.gist</string>
	<key>connections</key>
	<dict>
		<key>2683C439-FB2C-499E-8CB9-0F88A5FBACFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3CE568C2-0A21-4BE6-97E3-BB057243B669</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77BF8040-41E4-4716-AA19-8B078465962D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2683C439-FB2C-499E-8CB9-0F88A5FBACFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8EA59738-3116-407D-A363-7F5D35AACA29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B6825D-3905-4355-8959-B15925F8D264</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philip Hallstrom</string>
	<key>description</key>
	<string>Create Gist from clipboard or selected files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>gistconfig</string>
				<key>script</key>
				<string>bash gist.sh configure</string>
				<key>subtext</key>
				<string>Public vs. Private, Copy URL to clipboard.</string>
				<key>title</key>
				<string>Gist: Configure default options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Gist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gistsetup</string>
				<key>subtext</key>
				<string>Gist requires API access for gist.github.com.</string>
				<key>text</key>
				<string>Gist: Setup API Access</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77BF8040-41E4-4716-AA19-8B078465962D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>subtext</key>
				<string>Optionally specify options. See help for more information.</string>
				<key>text</key>
				<string>Gist: Create from clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>bash gist.sh help</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93B6825D-3905-4355-8959-B15925F8D264</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>bash gist.sh setup</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2683C439-FB2C-499E-8CB9-0F88A5FBACFA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gisthelp</string>
				<key>subtext</key>
				<string>How to setup, configure, and invoke this workflow.</string>
				<key>text</key>
				<string>Gist: View online help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EA59738-3116-407D-A363-7F5D35AACA29</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>bash gist.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2683C439-FB2C-499E-8CB9-0F88A5FBACFA</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>3CE568C2-0A21-4BE6-97E3-BB057243B669</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>77BF8040-41E4-4716-AA19-8B078465962D</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>825AE364-0819-4F85-9021-B9AEA0C64118</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8EA59738-3116-407D-A363-7F5D35AACA29</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>93B6825D-3905-4355-8959-B15925F8D264</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
