<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pjkh.gist</string>
	<key>connections</key>
	<dict>
		<key>3CE568C2-0A21-4BE6-97E3-BB057243B669</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8490ED7E-339D-49CE-91F5-9ED557A5DA90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B504F4C6-F55E-4E55-B6A2-7DF195963813</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B504F4C6-F55E-4E55-B6A2-7DF195963813</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philip Hallstrom</string>
	<key>description</key>
	<string>Create Gist from clipboard or selected files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Gist: Create from files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>8490ED7E-339D-49CE-91F5-9ED557A5DA90</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>bash gist.sh _files {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B504F4C6-F55E-4E55-B6A2-7DF195963813</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Gist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>825AE364-0819-4F85-9021-B9AEA0C64118</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>subtext</key>
				<string>Optionally specify options. See help for more information.</string>
				<key>text</key>
				<string>Gist: Create from clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>bash gist.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CE568C2-0A21-4BE6-97E3-BB057243B669</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>gistconfig</string>
				<key>script</key>
				<string>bash gist.sh configure</string>
				<key>subtext</key>
				<string>Public vs. Private, Copy URL to clipboard.</string>
				<key>title</key>
				<string>Gist: Configure default options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3CE568C2-0A21-4BE6-97E3-BB057243B669</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>4D5925E1-8D44-4873-8C32-AD9DEFFECB2D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>825AE364-0819-4F85-9021-B9AEA0C64118</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8490ED7E-339D-49CE-91F5-9ED557A5DA90</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8A13345C-4BF4-4E07-A095-0A57B2B12DE4</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>B504F4C6-F55E-4E55-B6A2-7DF195963813</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
